/* Файл стилей style_platforms.css */

body {
  font-family: Arial, sans-serif;
}

h2 {
  color: #226e93;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  position: relative;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 2px 2px rgba(0,0,0,.1);
  background-color: #fff;
}

table thead tr th {
  background-color: #f3f3f3; /* Светло-серый цвет */
}

tbody tr td {
  background-color: #fff; /* Белый фон для ячеек таблицы */
}

th, td {
  border: 1px solid #ccc;
  padding: 6px;
  vertical-align: middle;
  text-align: center;
  cursor: default;
}

input, select {
  margin-left: 10px;
  padding: 5px;
}

button {
  margin-left: 10px;
  padding: 5px;
}

.back-home-btn {
  margin-right: 10px;
  cursor: pointer;
}

  .edit-image {
      width: 80px;
      height: 50px;
      vertical-align: middle;
      margin-left: 10px;
      cursor: pointer;
      opacity: 0.8; /* Полупрозрачность в обычном состоянии */
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Переход для обоих эффектов */
    }

  #typeFilter {
      cursor: pointer;
  }
